.familyImage {
    max-width: 100%;
}


.familyRoot {
    padding: 0.2rem;
    position: absolute;
}

.familyText {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 40px;
    border-color: blueviolet;
    border: 4px;
    font-family: sans-serif;
    text-shadow: 0 0 17px #fff;
    background: whitesmoke;
    color: brown;
}

.buttonSignIn {
    font-size: 20px;
}

.buttonSignUp {
    font-size: 20px;
}