.homeImage {
    background-size: cover;
    background-position: top;
    width: 50%;
    height: 600px;
    background-image: url("./family.jpg");
}

.homeText {
    color: #fa8231;
    font-size: 66px;
    font-weight: 200;
}

.homeSubtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
    background-color: #fa8231;
    padding: 1rem;
}

.homeRoot {
    display: flex;
} 

.homeBox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.mainTitle {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.buttonSign {
    background-color: #fa8231;
    color: white;
    border-color: 1px solid white;
    border-radius: 6px;
    padding: 0.25rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.buttonSign:hover {
    background-color: white;
    color: #fa8231;
    border-color: 1px solid #fa8231;
}

.customHelp {
    background-color: #fa8231;
    color: white;
    padding: 0 1.0rem;
}