.familyImage {
    max-width: 100%;
}


.familyRoot {
    padding: 1rem 3rem;
    position: absolute;
}

.familyText {
    position: absolute;
    top: 40%;
    left: 30px;
    font-size: 80px;
    border-color: blueviolet;
    border: 4px;
    color: purple;
    font-family: sans-serif;
    text-shadow: 0 0 17px #fff;
    padding: 0 15px 0 15px;
    width: 800px;
}