.familyImage {
    max-width: 100%;
}


.familyRoot {
    padding: 1rem 3rem;
    position: absolute;
}

.familyText {
    position: absolute;
    top: 12%;
    left: 67px;
    font-size: 60px;
    border-color: blueviolet;
    border: 4px;
    color: azure;
    font-family: sans-serif;
    text-shadow: 0 0 17px #fff;
    padding: 0 15px 0 15px;
    width: 500px;
}

