* {
    font-family: 'Open Sans', sans-serif !important;
}

.logoHomeStyle {
    font-family: 'Prompt';
    font-size: 40;
    color: "white";
};

.logoSignStyle {
    color: 'white';
    background-color: 'brown';
    text-align: "center";
    font-size: 40px;
    font-weight: "normal";
    padding: 5px;
    font-size: 100px;
};
